@font-face {
  font-family: "ss-icon"; /* Project id 1097358 */
  src: url('iconfont.woff2?t=1784530448921') format('woff2'),
       url('iconfont.woff?t=1784530448921') format('woff'),
       url('iconfont.ttf?t=1784530448921') format('truetype');
}

.ss-icon {
  font-family: "ss-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ss-icon-rotate-3d:before {
  content: "\e717";
}

.ss-icon-scale-3d:before {
  content: "\e718";
}

.ss-icon-translate-3d:before {
  content: "\e719";
}

.ss-icon-robot-add:before {
  content: "\e64c";
}

.ss-icon-camera:before {
  content: "\e64d";
}

.ss-icon-schedule:before {
  content: "\e64e";
}

.ss-icon-moon:before {
  content: "\e64f";
}

.ss-icon-dice:before {
  content: "\e650";
}

.ss-icon-file-audio:before {
  content: "\e651";
}

.ss-icon-folder-delete:before {
  content: "\e652";
}

.ss-icon-drag-dot:before {
  content: "\e653";
}

.ss-icon-lock:before {
  content: "\e654";
}

.ss-icon-phone:before {
  content: "\e655";
}

.ss-icon-sun:before {
  content: "\e656";
}

.ss-icon-language:before {
  content: "\e657";
}

.ss-icon-experiment:before {
  content: "\e658";
}

.ss-icon-safe:before {
  content: "\e659";
}

.ss-icon-printer:before {
  content: "\e65a";
}

.ss-icon-file-pdf:before {
  content: "\e65b";
}

.ss-icon-trophy:before {
  content: "\e65c";
}

.ss-icon-cloud:before {
  content: "\e65d";
}

.ss-icon-user-add:before {
  content: "\e65e";
}

.ss-icon-tags:before {
  content: "\e65f";
}

.ss-icon-folder-add:before {
  content: "\e660";
}

.ss-icon-wifi:before {
  content: "\e661";
}

.ss-icon-public:before {
  content: "\e662";
}

.ss-icon-interaction:before {
  content: "\e663";
}

.ss-icon-mind-mapping:before {
  content: "\e664";
}

.ss-icon-file-image:before {
  content: "\e665";
}

.ss-icon-layout:before {
  content: "\e666";
}

.ss-icon-image:before {
  content: "\e667";
}

.ss-icon-menu:before {
  content: "\e668";
}

.ss-icon-tool:before {
  content: "\e669";
}

.ss-icon-robot:before {
  content: "\e66a";
}

.ss-icon-book:before {
  content: "\e66b";
}

.ss-icon-file:before {
  content: "\e66c";
}

.ss-icon-folder:before {
  content: "\e66d";
}

.ss-icon-man:before {
  content: "\e66e";
}

.ss-icon-file-video:before {
  content: "\e66f";
}

.ss-icon-woman:before {
  content: "\e670";
}

.ss-icon-qrcode:before {
  content: "\e671";
}

.ss-icon-loop:before {
  content: "\e672";
}

.ss-icon-pushpin:before {
  content: "\e673";
}

.ss-icon-Fire:before {
  content: "\e674";
}

.ss-icon-notification-close:before {
  content: "\e675";
}

.ss-icon-pen:before {
  content: "\e676";
}

.ss-icon-line-height:before {
  content: "\e677";
}

.ss-icon-circular:before {
  content: "\e678";
}

.ss-icon-formula:before {
  content: "\e679";
}

.ss-icon-underline:before {
  content: "\e67a";
}

.ss-icon-align-center:before {
  content: "\e67b";
}

.ss-icon-align-right:before {
  content: "\e67c";
}

.ss-icon-link:before {
  content: "\e67d";
}

.ss-icon-sort:before {
  content: "\e67e";
}

.ss-icon-paste:before {
  content: "\e67f";
}

.ss-icon-italic:before {
  content: "\e680";
}

.ss-icon-font-colors:before {
  content: "\e681";
}

.ss-icon-zoom-in:before {
  content: "\e682";
}

.ss-icon-zoom-out:before {
  content: "\e683";
}

.ss-icon-unordered-list:before {
  content: "\e684";
}

.ss-icon-bold:before {
  content: "\e685";
}

.ss-icon-align-left:before {
  content: "\e686";
}

.ss-icon-scissor:before {
  content: "\e687";
}

.ss-icon-delete:before {
  content: "\e688";
}

.ss-icon-filter:before {
  content: "\e689";
}

.ss-icon-sort-ascending:before {
  content: "\e68a";
}

.ss-icon-oblique-line:before {
  content: "\e68b";
}

.ss-icon-h7:before {
  content: "\e68c";
}

.ss-icon-original-size:before {
  content: "\e68d";
}

.ss-icon-quote:before {
  content: "\e68e";
}

.ss-icon-h4:before {
  content: "\e68f";
}

.ss-icon-redo:before {
  content: "\e690";
}

.ss-icon-find-replace:before {
  content: "\e691";
}

.ss-icon-eraser:before {
  content: "\e692";
}

.ss-icon-strikethrough:before {
  content: "\e693";
}

.ss-icon-copy:before {
  content: "\e694";
}

.ss-icon-h2:before {
  content: "\e695";
}

.ss-icon-sort-descending:before {
  content: "\e696";
}

.ss-icon-h5:before {
  content: "\e697";
}

.ss-icon-brush:before {
  content: "\e698";
}

.ss-icon-edit:before {
  content: "\e699";
}

.ss-icon-ordered-list:before {
  content: "\e69a";
}

.ss-icon-h3:before {
  content: "\e69b";
}

.ss-icon-h1:before {
  content: "\e69c";
}

.ss-icon-undo:before {
  content: "\e69d";
}

.ss-icon-h6:before {
  content: "\e69e";
}

.ss-icon-bg-colors:before {
  content: "\e69f";
}

.ss-icon-arrow-left:before {
  content: "\e6a0";
}

.ss-icon-arrow-rise:before {
  content: "\e6a1";
}

.ss-icon-arrow-multiple:before {
  content: "\e6a2";
}

.ss-icon-caret-left:before {
  content: "\e6a3";
}

.ss-icon-caret-up:before {
  content: "\e6a4";
}

.ss-icon-right-circle:before {
  content: "\e6a5";
}

.ss-icon-arrow-up:before {
  content: "\e6a6";
}

.ss-icon-arrow-down:before {
  content: "\e6a7";
}

.ss-icon-double-right:before {
  content: "\e6a8";
}

.ss-icon-to-bottom:before {
  content: "\e6a9";
}

.ss-icon-drag-arrow:before {
  content: "\e6aa";
}

.ss-icon-caret-right:before {
  content: "\e6ab";
}

.ss-icon-left-circle:before {
  content: "\e6ac";
}

.ss-icon-shrink:before {
  content: "\e6ad";
}

.ss-icon-multiple:before {
  content: "\e6ae";
}

.ss-icon-arrow-fall:before {
  content: "\e6af";
}

.ss-icon-rotate-left:before {
  content: "\e6b0";
}

.ss-icon-expand:before {
  content: "\e6b1";
}

.ss-icon-left:before {
  content: "\e6b2";
}

.ss-icon-swap:before {
  content: "\e6b3";
}

.ss-icon-up:before {
  content: "\e6b4";
}

.ss-icon-caret-down:before {
  content: "\e6b5";
}

.ss-icon-double-left:before {
  content: "\e6b6";
}

.ss-icon-to-right:before {
  content: "\e6b7";
}

.ss-icon-arrow-right:before {
  content: "\e6b8";
}

.ss-icon-menu-unfold:before {
  content: "\e6b9";
}

.ss-icon-double-up:before {
  content: "\e6ba";
}

.ss-icon-to-left:before {
  content: "\e6bb";
}

.ss-icon-right:before {
  content: "\e6bc";
}

.ss-icon-down:before {
  content: "\e6bd";
}

.ss-icon-rotate-right:before {
  content: "\e6be";
}

.ss-icon-up-circle:before {
  content: "\e6bf";
}

.ss-icon-double-down:before {
  content: "\e6c0";
}

.ss-icon-down-circle:before {
  content: "\e6c1";
}

.ss-icon-to-top:before {
  content: "\e6c2";
}

.ss-icon-menu-fold:before {
  content: "\e6c3";
}

.ss-icon-minus-circle-fill:before {
  content: "\e6c4";
}

.ss-icon-close-circle-fill:before {
  content: "\e6c5";
}

.ss-icon-exclamation-polygon-fill:before {
  content: "\e6c6";
}

.ss-icon-exclamation-circle-fill:before {
  content: "\e6c7";
}

.ss-icon-info:before {
  content: "\e6c8";
}

.ss-icon-question-circle-fill:before {
  content: "\e6c9";
}

.ss-icon-check-circle-fill:before {
  content: "\e6ca";
}

.ss-icon-exclamation:before {
  content: "\e6cb";
}

.ss-icon-info-circle-fill:before {
  content: "\e6cc";
}

.ss-icon-plus:before {
  content: "\e6cd";
}

.ss-icon-minus:before {
  content: "\e6ce";
}

.ss-icon-close:before {
  content: "\e6cf";
}

.ss-icon-stop:before {
  content: "\e6d0";
}

.ss-icon-check:before {
  content: "\e6d1";
}

.ss-icon-check-square:before {
  content: "\e6d2";
}

.ss-icon-clock-circle:before {
  content: "\e6d3";
}

.ss-icon-question:before {
  content: "\e6d4";
}

.ss-icon-plus-circle:before {
  content: "\e6d5";
}

.ss-icon-check-circle:before {
  content: "\e6d6";
}

.ss-icon-minus-circle:before {
  content: "\e6d7";
}

.ss-icon-exclamation-circle:before {
  content: "\e6d8";
}

.ss-icon-info-circle:before {
  content: "\e6d9";
}

.ss-icon-close-circle:before {
  content: "\e6da";
}

.ss-icon-question-circle:before {
  content: "\e6db";
}

.ss-icon-share-internal:before {
  content: "\e6dc";
}

.ss-icon-thumb-up-fill:before {
  content: "\e6dd";
}

.ss-icon-voice:before {
  content: "\e6de";
}

.ss-icon-share-external:before {
  content: "\e6df";
}

.ss-icon-star-fill:before {
  content: "\e6e0";
}

.ss-icon-history:before {
  content: "\e6e1";
}

.ss-icon-share-alt:before {
  content: "\e6e2";
}

.ss-icon-sync:before {
  content: "\e6e3";
}

.ss-icon-eye:before {
  content: "\e6e4";
}

.ss-icon-thumb-down-fill:before {
  content: "\e6e5";
}

.ss-icon-more-vertical:before {
  content: "\e6e6";
}

.ss-icon-translate:before {
  content: "\e6e7";
}

.ss-icon-Launch:before {
  content: "\e6e8";
}

.ss-icon-thumb-up:before {
  content: "\e6e9";
}

.ss-icon-list:before {
  content: "\e6ea";
}

.ss-icon-customer-service:before {
  content: "\e6eb";
}

.ss-icon-at:before {
  content: "\e6ec";
}

.ss-icon-code-square:before {
  content: "\e6ed";
}

.ss-icon-heart-fill:before {
  content: "\e6ee";
}

.ss-icon-download:before {
  content: "\e6ef";
}

.ss-icon-code-block:before {
  content: "\e6f0";
}

.ss-icon-code:before {
  content: "\e6f1";
}

.ss-icon-select-all:before {
  content: "\e6f2";
}

.ss-icon-reply:before {
  content: "\e6f3";
}

.ss-icon-poweroff:before {
  content: "\e6f4";
}

.ss-icon-more:before {
  content: "\e6f5";
}

.ss-icon-scan:before {
  content: "\e6f6";
}

.ss-icon-import:before {
  content: "\e6f7";
}

.ss-icon-upload:before {
  content: "\e6f8";
}

.ss-icon-star:before {
  content: "\e6f9";
}

.ss-icon-thumb-down:before {
  content: "\e6fa";
}

.ss-icon-settings:before {
  content: "\e6fb";
}

.ss-icon-cloud-download:before {
  content: "\e6fc";
}

.ss-icon-Export:before {
  content: "\e6fd";
}

.ss-icon-message-banned:before {
  content: "\e6fe";
}

.ss-icon-search:before {
  content: "\e6ff";
}

.ss-icon-refresh:before {
  content: "\e700";
}

.ss-icon-message:before {
  content: "\e701";
}

.ss-icon-home:before {
  content: "\e702";
}

.ss-icon-eye-invisible:before {
  content: "\e703";
}

.ss-icon-save:before {
  content: "\e704";
}

.ss-icon-heart:before {
  content: "\e705";
}

.ss-icon-send:before {
  content: "\e706";
}

.ss-icon-plus-circle-fill:before {
  content: "\e707";
}

.ss-icon-highlight:before {
  content: "\e708";
}

.ss-icon-storage:before {
  content: "\e709";
}

.ss-icon-face-smile-fill:before {
  content: "\e70a";
}

.ss-icon-general:before {
  content: "\e60a";
}

.ss-icon-archive:before {
  content: "\e70b";
}

.ss-icon-puzzle:before {
  content: "\e60c";
}

.ss-icon-image-close:before {
  content: "\e70c";
}

.ss-icon-reference:before {
  content: "\e60b";
}

.ss-icon-stamp:before {
  content: "\e70d";
}

.ss-icon-pie-chart:before {
  content: "\e60e";
}

.ss-icon-face-meh-fill:before {
  content: "\e70e";
}

.ss-icon-flow:before {
  content: "\e60f";
}

.ss-icon-mosaic:before {
  content: "\e70f";
}

.ss-icon-subordinates:before {
  content: "\e610";
}

.ss-icon-idcard:before {
  content: "\e710";
}

.ss-icon-hierarchy:before {
  content: "\e611";
}

.ss-icon-gift:before {
  content: "\e711";
}

.ss-icon-dev-process:before {
  content: "\e612";
}

.ss-icon-dashboard:before {
  content: "\e712";
}

.ss-icon-global:before {
  content: "\e613";
}

.ss-icon-branch1:before {
  content: "\e713";
}

.ss-icon-fullscreen-exit:before {
  content: "\e614";
}

.ss-icon-face-frown-fill:before {
  content: "\e714";
}

.ss-icon-fullscreen:before {
  content: "\e615";
}

.ss-icon-play-circle-fill:before {
  content: "\e715";
}

.ss-icon-music:before {
  content: "\e616";
}

.ss-icon-live-broadcast:before {
  content: "\e716";
}

.ss-icon-skip-previous-fill:before {
  content: "\e617";
}

.ss-icon-sound-fill:before {
  content: "\e618";
}

.ss-icon-forward:before {
  content: "\e619";
}

.ss-icon-backward:before {
  content: "\e61a";
}

.ss-icon-record-stop:before {
  content: "\e61b";
}

.ss-icon-pause-circle-fill:before {
  content: "\e61c";
}

.ss-icon-play-arrow-fill:before {
  content: "\e61d";
}

.ss-icon-pause-circle:before {
  content: "\e61e";
}

.ss-icon-record:before {
  content: "\e61f";
}

.ss-icon-sound:before {
  content: "\e620";
}

.ss-icon-play-circle:before {
  content: "\e621";
}

.ss-icon-play-arrow:before {
  content: "\e622";
}

.ss-icon-skip-previous:before {
  content: "\e623";
}

.ss-icon-skip-next-fill:before {
  content: "\e624";
}

.ss-icon-skip-next:before {
  content: "\e625";
}

.ss-icon-mute:before {
  content: "\e626";
}

.ss-icon-mute-fill:before {
  content: "\e627";
}

.ss-icon-pause:before {
  content: "\e628";
}

.ss-icon-loading:before {
  content: "\e629";
}

.ss-icon-desktop:before {
  content: "\e62a";
}

.ss-icon-copyright:before {
  content: "\e62b";
}

.ss-icon-shake:before {
  content: "\e62c";
}

.ss-icon-compass:before {
  content: "\e62d";
}

.ss-icon-branch:before {
  content: "\e62e";
}

.ss-icon-common:before {
  content: "\e62f";
}

.ss-icon-bug:before {
  content: "\e630";
}

.ss-icon-sun-fill:before {
  content: "\e631";
}

.ss-icon-user:before {
  content: "\e632";
}

.ss-icon-pen-fill:before {
  content: "\e633";
}

.ss-icon-moon-fill:before {
  content: "\e634";
}

.ss-icon-email:before {
  content: "\e635";
}

.ss-icon-skin:before {
  content: "\e636";
}

.ss-icon-tag:before {
  content: "\e637";
}

.ss-icon-ear:before {
  content: "\e638";
}

.ss-icon-subscribe-add:before {
  content: "\e639";
}

.ss-icon-user-group:before {
  content: "\e63a";
}

.ss-icon-mobile:before {
  content: "\e63b";
}

.ss-icon-thunderbolt:before {
  content: "\e63c";
}

.ss-icon-location:before {
  content: "\e63d";
}

.ss-icon-empty:before {
  content: "\e63e";
}

.ss-icon-old-version:before {
  content: "\e63f";
}

.ss-icon-calendar:before {
  content: "\e640";
}

.ss-icon-notification:before {
  content: "\e641";
}

.ss-icon-drive-file:before {
  content: "\e642";
}

.ss-icon-drag-dot-vertical:before {
  content: "\e643";
}

.ss-icon-video-camera:before {
  content: "\e644";
}

.ss-icon-nav:before {
  content: "\e645";
}

.ss-icon-subscribe:before {
  content: "\e646";
}

.ss-icon-unlock:before {
  content: "\e647";
}

.ss-icon-bulb:before {
  content: "\e648";
}

.ss-icon-command:before {
  content: "\e649";
}

.ss-icon-apps:before {
  content: "\e64a";
}

.ss-icon-subscribed:before {
  content: "\e64b";
}

